@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/*  styling scrollbars  */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}
/* Styles for the dashboard on the left side */
.dashboard {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    /* Adjust the width as needed */
    background-color: #08954c;
    /* Green background for the dashboard */
    color: white;
    /* White text color */
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

.dashboard h1 {
    margin: 0;
    height: 50px; /* Set the height to 200 pixels */
    width: 300px; /* Set the width to 300 pixels */
    text-align: center;
    padding-top: 10%;
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin: 0;
    padding: 0;
}

.options a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.options a:hover {
    background-color: #4aa768;
}

/* Styles for the content on the right side */
.content {
    margin-left: 20%;
    /* Set the margin to match the width of the dashboard */
    padding: 20px;
}

#content-frame {
    width: 100%;
    height: 100vh;
    /* Set the height to fill the entire viewport */
    border: none;
}

/*header {
     height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center; }*/
header {
    background-color: #4CAF50;
    ;
    /* Background color */
    color: #fff;
    /* Text color */
    text-align: center;
    /* Center-align text */
    padding: 10px;
    /* Add padding for spacing */
    /* position: absolute; */
}